.nav ul li{
  list-style-type: none;
  float: left;
}
.nav ul li a{
  padding: 10px;
  text-decoration: none;
  color: white;
}
.nav ul{
  overflow: hidden;
  padding: 10px;
  background: #1a237e;
  margin: 0;
}
.nav{
  margin-bottom: 30px;
}

.welcome-h{
    font-size: 150px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.basic-proj{
  font-size: 86px;
    text-align: center;
    color: purple;
    font-weight: 800;
    margin-top: 0;
}
