

.welcome-h{
    font-size: 85px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.basic-proj{
  font-size: 60px;
    text-align: center;
    color: purple;
    font-weight: 800;
    margin-top: 0;
}
.par{
  font-size: 35px;
  text-align: center;
  color: #CD5888;
  font-weight: 800;
  margin-top: 0;
}
div#root{
  margin-left: 308px;
  margin-top: 40px;
}
table, tr, td,th{
  border: 1px solid black;
  border-collapse: collapse;

}
table{
  width: 100%;
}
td,th{
  padding: 10px;
  text-align: center;
}
