.section-main{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background: #f2f9ff;
    margin-bottom: 15px;
}

.ques-main{
    padding: 10px;
    background: #d5d5d5;
}
.ques-main span{
    margin-right: 10px;
    font-size: 10px;
}
.ans-main{
    padding: 10px;
    background: #f3f3f3;
}
.ques-main span {
    font-size: 16px;
}
.main-sec{
    background: #4e9657;
}